button.shop {
    background-color: red;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: transparent;
    border-radius: 5px;
    padding: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    transition-duration: 400ms;
    cursor: pointer;

}

button.shop:hover {
    background-color: black;
}

button.buttonChange {
    background-color: darkgray;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: transparent;
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 4px 2px;
    cursor: pointer;
    transition-duration: 400ms;

}

button.buttonChange:hover {
    background-color: black;
}

button.footer {
    background-color: transparent;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: transparent;
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 4px 2px;
    cursor: pointer;
}

button.buttonScroll {
    background-color: gray;
    opacity: 0.4;
    border: 0;
    width: 25px;

    transition-duration: 200ms;
}

button.buttonScroll:hover {
    background-color: black;
}


button.checkout {
    width: 100%; height: 30px; color: white; background-color: red; border: transparent; border-radius: 10px;
    transition-duration: 400ms;
}

button.checkout:hover {
    background-color: black;

}